body{
	background-color:#fff;
	margin:0;
	padding:0;
	font-family: Helvetica, Arial, sans-serif;
}

.meta{
	position: absolute;
	bottom:0;
	left:0;
	width:100%;
	padding: 3px 0;
	background-color:#ddd;
	border-top:1px solid #ccc;
}

.meta li,
.meta ul{
	padding:0;
	margin:0;
	list-style: none;
}

.meta li{
	float:left;
	padding:4px 4px 4px 8px;
	font-size: 8px;
	color:#aaa;
}

.wrapper{
	margin:20px;
}

p a{
	display: inline-block;
	border-radius:3px;
	padding:2px 5px;
	background-color:#ddd;
}

.slide-drop-area{
	background-color:#aaa;
	color:#555;
	font-weight:bold;
	font-size:25px;
	text-align: center;
	display: block;
	height:150px;
	vertical-align: center;
	border-radius: 15px;
	padding-top:130px;
	box-shadow: inset 0px 0px 5px 5px rgba(0,0,0,0.1);
}

/*Themes Page*/
#themes .theme{
	display: block;
	padding:10px;
	width:380px;
	height:280px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #555;
	background-size:400px 300px;
	float:left;
	margin: 20px 20px 0 0;
}

#themes span,
#themes a{
	float:left;
	clear:both;
	display: block;
	padding:5px 8px;
	background-color:#fff;
	color:#000;
	font-size:10px;
	font-family: sans-serif;
}

#themes .name{
	font-weight:bold;
	font-size:16px;
}