// hello world
@font-face {
  font-family: 'Vollkorn-Regular';
  src: url('../font/vollkorn-3-005/TTF/Vollkorn-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'Vollkorn-Bold';
  src: url('../font/vollkorn-3-005/TTF/Vollkorn-Bold.ttf')  format('truetype');
}
@font-face {
  font-family: 'Vollkorn-Italic';
  src: url('../font/vollkorn-3-005/TTF/Vollkorn-Italic.ttf')  format('truetype');
}

@font-face {
  font-family: 'Vollkorn-SemiItalic';
  src: url('../font/vollkorn-3-005/TTF/Vollkorn-SemiboldItalic.ttf')  format('truetype');
}