// hello world
@font-face{
  font-family: 'Vollkorn-Regular';
  src: url('../font/vollkorn-3-005/TTF/Vollkorn-Regular.ttf')  format('truetype');
}

@font-face{
  font-family: 'Vollkorn-Bold';
  src: url('../font/vollkorn-3-005/TTF/Vollkorn-Bold.ttf')  format('truetype');
}


@mixin flexcenter() {
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    height:100vh;
}

body{
  font-family:'Vollkorn-Regular';
  max-height:100%;
  overflow: hidden;
  font-size:18px;
}
h1{
  font-family:'Vollkorn-Bold';
}

.content {
  @include flexcenter;
    margin-left: 20%;
    margin-right:20%;
}

img{
  max-width: 80%;
  display: block;
  margin: 0 auto;
  flaot:left;
}

pre {
  min-width:100%;
  text-align:left;
}
code{
  text-align:left;
}