// hello world
@font-face {
  font-family: 'Vollkorn-Regular';
  src: url('../font/vollkorn-3-005/TTF/Vollkorn-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'Vollkorn-Bold';
  src: url('../font/vollkorn-3-005/TTF/Vollkorn-Bold.ttf')  format('truetype');
}
@font-face {
  font-family: 'Vollkorn-Italic';
  src: url('../font/vollkorn-3-005/TTF/Vollkorn-Italic.ttf')  format('truetype');
}
@mixin flexcenter() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
body#frontal {
  @include flexcenter();
  font-family: 'Vollkorn-Regular';
  max-height: 100%;
  overflow: hidden;
  font-size: 20px;
  line-height: 1.5;
  color: #141414;
  word-wrap: break-word;
  hyphens: auto;
  // text-align: center;
  margin-left: 20%;
  margin-right: 20%;
    ol ul {
      text-align: left !important;
      li {
      text-align: left !important;
      }
    }
  #slides {
    h1, h2, h3, h4 {
      font-family: 'Vollkorn-Bold';
    }
    a {
      background-color: #6FC3F6;
      color: #FFFFFF;
    }
    em {
      font-family: 'Vollkorn-Italic';
    }
    strong {
      font-family: 'Vollkorn-Bold';
    }
    img {
      max-width: 80%;
      display: block;
      margin: 0 auto;
      flaot: left;
    }
    pre {
      min-width: 100%;
      text-align: left;
    }
    code {
      text-align: left;
    }
    p{
      text-align: left;
      max-width:50vw;
    }

    blockquote {
      font-family:'Vollkorn-Italic';
      font-size:1.6rem;
    }
    table {
      margin-left: auto;
      margin-right: auto;
      // border-bottom: 2px dashed #cccccc;
      // border-collapse: collapse;
      thead {
        font-family: 'Vollkorn-Bold';
        // background-color: none;
        // background-color: rgba(1,1,1,0);
        // border-bottom: 2px dashed #cccccc;

      }
      th{
          border-bottom: 3px dashed #848484;
          padding-left:10px;
          padding-right:10px;

      }
      td{
          border-bottom: 2px dashed #cccccc;
          padding-left:10px;
          padding-right:10px;
      }
      tr{
        // border-bottom: dotted #E6E6E6;

      }
      // tr:nth-child(even) {
      //   background-color: #E6E6E6;
      // }
    }
  }
}