@import "fonts";
$headerHeight: 30px;

body#notes{
  background-color:#0C0C0C;
  font-size: 1.4rem;
    font: Sans;
  header#speaker-notes {
    width: 100%;
    height: $headerHeight;
    background-color: #3F3F3F;
  }
  #comments {
    margin-top: $headerHeight;
  }
}