// hello world
@import "mixins", "fonts", "colors", "solarized-light", "additional-code-highlight";

$headerHeight: 5vh;
$headerPadding: 1vh;

header, footer {
  font-family: 'Vollkorn-SemiItalic';
  color: $highlight;
  box-sizing: border-box;
  margin-top: auto;
  overflow: hidden;
  position: absolute;
  font-size: 0.8rem;
  text-align: right;
  width: 100%;
  left: 0;
}
header {
  top: 0;
  height: $headerHeight;
  // line-height:$headerHeight;
  padding-top: $headerPadding;
  padding-right: $headerPadding;
}
footer {
  bottom: 0;
  height: $headerHeight;
  line-height:$headerHeight;
  padding-bottom: $headerPadding;
  padding-right: $headerPadding;
}



#frontal {
  margin: 0 auto;
  padding: 0;
  @include flexcenter();
  font-family: 'Vollkorn-Regular';
  max-height: 100%;
  max-width:50em;
  overflow: hidden;
  font-size: 2.0em;
  line-height: 1.5;
  color: $textColor;
  word-wrap: break-word;
  hyphens: auto;
  background-color: #FFFFFF;
  // text-align: center;


     img[alt="left"]{
      margin-left:5%;
      margin-right:5%;
    }
  .wide{
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    // padding-right: 5%;
    width :90vw;
  }
  .narrow {
    margin-left: 10%;
    margin-right: 10%;
  }

  .pwide{
    max-width: 90vw !important;
    pre{
      float:right;
    }

  }


  #slides {
    padding-top: $headerHeight;
    padding-bottom: $headerHeight;
  ol, ul {
    text-align: left ;
      max-width: 50vw;
    li {
      text-align: left;
    }
  }

  p{
  code{
  background-color: $inlineCode;
  padding-left: 0.1vw;
  padding-right: 0.1vw;

  }
}
    h1, h2, h3, h4, h5, h6 {
      font-family: 'Vollkorn-Bold';
      text-align: center;
    }
    h1{font-size:7vmin}
    h2{font-size:6vmin}
    h3{
      font-family: 'Vollkorn-Regular';
      font-size:4vmin;
    }
    h4{
      font-family: 'Vollkorn-Regular';
      font-size:3vmin;
    }
    h5{
      font-family: 'Vollkorn-Regular';
      font-size:2.5vmin;
    }
    h6{font-size:2vmin; }



    a {
      color: $aColor;
      text-decoration: none;
    }
    a:hover {
      color: darken( $aColor, 15% );
    }
    em {
      font-family: 'Vollkorn-Italic';
    }
    strong {
      font-family: 'Vollkorn-Bold';
    }
    img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }
    img[alt="left"]{
      float: left;
      margin-right: 10px;
      clear:both;
      max-width:45vw;
    }
    pre {
      min-width: 100%;
      text-align: left;
      padding:1em;
      // border-color: $codeAccent;
      background:$codeBG;
      border-left: 2px solid $codeAccent;
      min-width:50vw;
      font-size:1.5rem;
    }
    code {

      text-align: left;
      font-family: 'CamingoCode-Regular';
      // font-size: 18px;
    }
    p {
      text-align: left;
      max-width: 50vw;
    }
    blockquote {
      h1,h2,h3,h4,h5,h6{
        text-align: left;
      }
      font-family: 'Vollkorn-Italic';
      font-size: 2rem;
      p{
        max-width:70vw !important;
      }
      pre{
        code{
          font-size:1.5vh;
        }
      }
    }
    table {
      margin-left: auto;
      margin-right: auto;
      // border-bottom: 2px dashed #cccccc;
      // border-collapse: collapse;
      font-size:1.5rem;
      thead {
        font-family: 'Vollkorn-Bold';
        // background-color: none;
        // background-color: rgba(1, 1, 1, 0);
        // border-bottom: 2px dashed #cccccc;
      }
      th {
        border-bottom: 3px dashed #848484;
        padding-left: 10px;
        padding-right: 10px;
      }
      td {
        border-bottom: 2px dashed #cccccc;
        padding-left: 10px;
        padding-right: 10px;
      }
      tr {
        // border-bottom: dotted #E6E6E6;
      }
      // tr:nth-child(even) {
        //   background-color: #E6E6E6;
        //
      }
    }
  }

  // ---------------------

  // Smalltalk goto
  .smalltalk{
    z-index:10;
      width: 30vw;
      height: 10vh;
      min-height:6em;
      min-width:10em;
      position: absolute;
      top: 40vh;
    left: 35vw;
    background-color:#fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 auto;
    padding:1vw;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    .page{
      height:100%;
      .action-area{
        position: absolute;
                bottom: 0;
                width: 100%;
                height: 50px;
      }
    }
    header{
      @include reset();
      text-align:left;
      font-size:2em;
      min-height:2em;
    }
    .page
.content-area{
  }
}


#dimensions{
  visibility:hidden;
  z-index:9999;
  width:150px;
  height:30px;
  line-height:30px;
  font-size:1rem;
  text-align:center;
  position:absolute;
  left: 5px;
  bottom: 5px;
  color:$color2;
  background-color:$color4;
-webkit-border-radius: 5px;
border-radius: 5px;
}


// ------------ SUBTEXT

#subtext{
  font-size:1.5rem;
  font-style: italic;
  color:$color4;
  background-color: #FFFFFF;
  position: absolute;
    bottom:$headerHeight;
  height:$headerHeight;
  width:100vw;
  line-height:$headerHeight;
  text-align:center;
  z-index:9998;

}