@import "fonts";
$headerHeight: 30px;
$headerMargin: 10px;

body#notes{
  margin: 0 auto;
  max-width: 50em !important;
  padding-top:$headerHeight/2;
  background-color:#0C0C0C;
  font-size: 1.1rem;
  // font-family:'Vollkorn-Regular';
  font-family: 'CamingoCode-Regular';
  color:#E9E9E9;
  em{
     font-family: 'CamingoCode-Italic';
     strong{
     font-family: 'CamingoCode-BoldItalic';

     }
  }
  strong{
     font-family: 'CamingoCode-Bold';
em{
     font-family: 'CamingoCode-BoldItalic';
  }
  }
  header#speaker-notes {
  padding-left: $headerMargin;
  padding-right: $headerMargin;
    -webkit-border-radius: 3px;
     border-radius: 3px;
    box-sizing: border-box;
    padding-left:15px;
    width: 100%;
    height: $headerHeight;
    background-color: #3F3F3F;
    display:flex;
    justify-content: space-between;
    align-items:center;
    text-align:center;

      button{
        width:50px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        background-color: #C7C7C7;
        color: #000;
        border: none;
        box-shadow: none;
        text-shadow: -1px 1px #8B8B8B;
        height:20px;

      }
      button:hover{
        color: #D0D0D0;
        background: #000000;

      }
        input[type="number"]{
        width:50px;
        height:20px;
        -webkit-border-radius: 3px;
        color: #000;
        border-radius: 3px;
        background-color: #C7C7C7;
        border: none ;
        text-align: center;


      }
  }
  #comments {
    margin-top: $headerHeight;
  }
}
// http://www.computerhope.com/issues/ch001651.htm
.blink {
  -webkit-animation: blink .75s linear infinite;
  -moz-animation: blink .75s linear infinite;
  -ms-animation: blink .75s linear infinite;
  -o-animation: blink .75s linear infinite;
   animation: blink .75s linear infinite;
}
@-webkit-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 1; }
  50.01% { opacity: 0; }
  100% { opacity: 0; }
}
@-moz-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 1; }
  50.01% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 1; }
  50.01% { opacity: 0; }
  100% { opacity: 0; }
}
@-o-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 1; }
  50.01% { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 1; }
  50.01% { opacity: 0; }
  100% { opacity: 0; }
}