// hello world
@import "fonts", "colors", "solarized-light";

$headerHeight: 5vh;
$headerPadding: 1vh;
@mixin flexcenter() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
@mixin reset(){
   animation : none;
    animation-delay : 0;
    animation-direction : normal;
    animation-duration : 0;
    animation-fill-mode : none;
    animation-iteration-count : 1;
    animation-name : none;
    animation-play-state : running;
    animation-timing-function : ease;
    backface-visibility : visible;
    background : 0;
    background-attachment : scroll;
    background-clip : border-box;
    background-color : transparent;
    background-image : none;
    background-origin : padding-box;
    background-position : 0 0;
    background-position-x : 0;
    background-position-y : 0;
    background-repeat : repeat;
    background-size : auto auto;
    border : 0;
    border-style : none;
    border-width : medium;
    border-color : inherit;
    border-bottom : 0;
    border-bottom-color : inherit;
    border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
    border-bottom-style : none;
    border-bottom-width : medium;
    border-collapse : separate;
    border-image : none;
    border-left : 0;
    border-left-color : inherit;
    border-left-style : none;
    border-left-width : medium;
    border-radius : 0;
    border-right : 0;
    border-right-color : inherit;
    border-right-style : none;
    border-right-width : medium;
    border-spacing : 0;
    border-top : 0;
    border-top-color : inherit;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border-top-style : none;
    border-top-width : medium;
    bottom : auto;
    box-shadow : none;
    box-sizing : content-box;
    caption-side : top;
    clear : none;
    clip : auto;
    color : inherit;
    columns : auto;
    column-count : auto;
    column-fill : balance;
    column-gap : normal;
    column-rule : medium none currentColor;
    column-rule-color : currentColor;
    column-rule-style : none;
    column-rule-width : none;
    column-span : 1;
    column-width : auto;
    content : normal;
    counter-increment : none;
    counter-reset : none;
    cursor : auto;
    direction : ltr;
    display : inline;
    empty-cells : show;
    float : none;
    font : normal;
    font-family : inherit;
    font-size : medium;
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    height : auto;
    hyphens : none;
    left : auto;
    letter-spacing : normal;
    line-height : normal;
    list-style : none;
    list-style-image : none;
    list-style-position : outside;
    list-style-type : disc;
    margin : 0;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    max-height : none;
    max-width : none;
    min-height : 0;
    min-width : 0;
    opacity : 1;
    orphans : 0;
    outline : 0;
    outline-color : invert;
    outline-style : none;
    outline-width : medium;
    overflow : visible;
    overflow-x : visible;
    overflow-y : visible;
    padding : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    page-break-after : auto;
    page-break-before : auto;
    page-break-inside : auto;
    perspective : none;
    perspective-origin : 50% 50%;
    position : static;
    /* May need to alter quotes for different locales (e.g fr) */
    quotes : '\201C' '\201D' '\2018' '\2019';
    right : auto;
    tab-size : 8;
    table-layout : auto;
    text-align : inherit;
    text-align-last : auto;
    text-decoration : none;
    text-decoration-color : inherit;
    text-decoration-line : none;
    text-decoration-style : solid;
    text-indent : 0;
    text-shadow : none;
    text-transform : none;
    top : auto;
    transform : none;
    transform-style : flat;
    transition : none;
    transition-delay : 0s;
    transition-duration : 0s;
    transition-property : none;
    transition-timing-function : ease;
    unicode-bidi : normal;
    vertical-align : baseline;
    visibility : visible;
    white-space : normal;
    widows : 0;
    width : auto;
    word-spacing : normal;
    z-index : auto;
}
header, footer {
  font-family: 'Vollkorn-SemiItalic';
  color: $highlight;
  box-sizing: border-box;
  margin-top: auto;
  overflow: hidden;
  position: absolute;
  font-size: 0.8rem;
  text-align: right;
  width: 100%;
  left: 0;
}
header {
  top: 0;
  height: $headerHeight;
  padding-top: $headerPadding;
  padding-right: $headerPadding;
}
footer {
  bottom: 0;
  height: $headerHeight;
  padding-bottom: $headerPadding;
  padding-right: $headerPadding;
}



#frontal {
  margin: 0 auto;
  padding: 0;
  @include flexcenter();
  font-family: 'Vollkorn-Regular';
  max-height: 100%;
  max-width:50em;
  overflow: hidden;
  font-size: 1.3em;
  line-height: 1.5;
  color: $textColor;
  word-wrap: break-word;
  hyphens: auto;
  background-color: #FFFFFF;
  // text-align: center;


     img[alt="left"]{
      margin-left:5%;
      margin-right:5%;
    }
  .wide{
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    // padding-right: 5%;
    width :90vw;
  }
  .narrow {
    margin-left: 10%;
    margin-right: 10%;
  }

  .pwide{
    max-width: 90vw !important;
    pre{
      float:right;
    }

  }


  #slides {
    padding-top: $headerHeight;
    padding-bottom: $headerHeight;
  ol, ul {
    text-align: left ;
      max-width: 50vw;
    li {
      text-align: left;
    }
  }

  p{
  code{
  background-color: $inlineCode;
  padding-left: 0.1vw;
  padding-right: 0.1vw;

  }
}
    h1, h2, h3, h4, h5, h6 {
      font-family: 'Vollkorn-Bold';
      text-align: center;
    }
    h1{font-size:7vmin}
    h2{font-size:6vmin}
    h3{
      font-family: 'Vollkorn-Regular';
      font-size:4vmin;
    }
    h4{
      font-family: 'Vollkorn-Regular';
      font-size:3vmin;
    }
    h5{
      font-family: 'Vollkorn-Regular';
      font-size:2.5vmin;
    }
    h6{font-size:2vmin; }



    a {
      color: $aColor;
      text-decoration: none;
    }
    a:hover {
      color: darken( $aColor, 15% );
    }
    em {
      font-family: 'Vollkorn-Italic';
    }
    strong {
      font-family: 'Vollkorn-Bold';
    }
    img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }
    img[alt="left"]{
      float: left;
      margin-right: 10px;
      clear:both;
      max-width:45vw;
    }
    pre {
      min-width: 100%;
      text-align: left;
      padding:1em;
      // border-color: $codeAccent;
      background:$codeBG;
      border-left: 2px solid $codeAccent;
      min-width:50vw;
    }
    code {
      text-align: left;
      font-family: 'CamingoCode-Regular';
      // font-size: 18px;
    }
    p {
      text-align: left;
      max-width: 50vw;
    }
    blockquote {
      font-family: 'Vollkorn-Italic';
      font-size: 2rem;
      p{
        max-width:70vw !important;
      }
    }
    table {
      margin-left: auto;
      margin-right: auto;
      // border-bottom: 2px dashed #cccccc;
      // border-collapse: collapse;

      thead {
        font-family: 'Vollkorn-Bold';
        // background-color: none;
        // background-color: rgba(1, 1, 1, 0);
        // border-bottom: 2px dashed #cccccc;
      }
      th {
        border-bottom: 3px dashed #848484;
        padding-left: 10px;
        padding-right: 10px;
      }
      td {
        border-bottom: 2px dashed #cccccc;
        padding-left: 10px;
        padding-right: 10px;
      }
      tr {
        // border-bottom: dotted #E6E6E6;
      }
      // tr:nth-child(even) {
        //   background-color: #E6E6E6;
        //
      }
    }
  }

  // ---------------------

  // Smalltalk goto
  .smalltalk{
    z-index:10;
      width: 30vw;
      height: 10vh;
      min-height:6em;
      min-width:10em;
      position: absolute;
      top: 40vh;
    left: 35vw;
    background-color:#fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 auto;
    padding:1vw;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    .page{
      height:100%;
      .action-area{
        position: absolute;
                bottom: 0;
                width: 100%;
                height: 50px;
      }
    }
    header{
      @include reset();
      text-align:left;
      font-size:2em;
      min-height:2em;
    }
    .page
.content-area{
  }
}
