/* Coolors Exported Palette - coolors.co/e96368-f7f7f9-d9d9db-848b9e-2f3f56 */

/* HSL */
$color1: hsla(358%, 75%, 65%, 1);
$color2: hsla(240%, 14%, 97%, 1);
$color3: hsla(240%, 3%, 85%, 1);
$color4: hsla(224%, 12%, 57%, 1);
$color5: hsla(215%, 29%, 26%, 1);

/* RGB */
$color1: rgba(233, 99, 104, 1);
$color2: rgba(247, 247, 249, 1);
$color3: rgba(217, 217, 219, 1);
$color4: rgba(132, 139, 158, 1);
$color5: rgba(47, 63, 86, 1);