<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Frontal</title>
		<link rel="stylesheet" type="text/css" href="../css/main.css">
	</head>
	<body>
		<div class="wrapper">
			
			<a id="back">Back</a>

			<div id="themes">

			</div>

		</div>
		<div class="meta">
			<ul>
				<li>Frontal 0.1</li>
				<li>Node.js <script>document.write(process.version)</script></li>
				<li>Electron <script>document.write(process.versions['electron'])</script></li>
		</div>
		<script type="text/javascript" src="../js/views/themes.js"></script>
	</body>
</html>