<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Speaker Notes</title>
    <link rel="stylesheet" type="text/css" href="./themes/default/css/default-comments.css">
  </head>
  <body id="notes">
  <header id="speaker-notes">
  <div id="numbering">
  <span id="slides-current">0</span> / <span id="slides-length">0</span>
  </div>
  <div id="time-clock"></div>
  <div id="time-running"></div>
  </header>
    <div id="comments" class="content"></div>
  <script>
  // You can also require other files to run in this process
  require('./renderer.js');
  </script>
  </body>
</html>