<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Speaker Notes</title>
    <link rel="stylesheet" type="text/css" href="./themes/default/css/default-comments.css">
  </head>
  <body id="notes">
  <header id="speaker-notes">
  <div id="numbering">
  <span id="slides-current">0</span> / <span id="slides-length">0</span>
  </div>
  <div id="time-clock"></div>
  <div id="time-running" class="">00:00:00</div>
<div id="stopwatch-buttons">

  Max Duration: <input type="number" pattern="[0-9]" value="20" id="duration">
  <button type="button" value="start" id="start">Start</button>
  <button type="button" value="stop" id="stop">Stop</button>
  <button type="button" value="reset" id="reset">Reset</button>
  </div>
  </header>
    <div id="comments" class="content"></div>
  <script>
  // You can also require other files to run in this process
  require('./renderer.js');
  require('./lib/comment-functions.js');
  </script>
  </body>
</html>