<!DOCTYPE html>
<html lang="en">
  <head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Slides</title>
    <link rel="stylesheet" id="slides-link" type="text/css" href="./themes/default/css/main.css">
  </head>
  <body id="frontal">
  <header id="header"></header>
    <div id="slides" class="content">
    </div>
    <footer id="footer"></footer>
  <script>
  require('./renderer.js');
  require('./lib/slide-functions.js');
  </script>
  </body>
</html>



