<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Slides</title>
    <link rel="stylesheet" type="text/css" href="./themes/default/css/default.css">
    <link rel="stylesheet" href="./themes/default/css/solarized-light.css">
  </head>
  <body>
    <div id="slides" class="content">
      <h1>Hit ⌘ + O to open a Markdown presentation</h1>
    </div>
  <script>
  // You can also require other files to run in this process
  require('./renderer.js');
  </script>
  </body>
</html>



