@font-face { font-family: 'Vollkorn-Regular'; src: url("../font/vollkorn-3-005/TTF/Vollkorn-Regular.ttf") format("truetype"); }

@font-face { font-family: 'Vollkorn-Bold'; src: url("../font/vollkorn-3-005/TTF/Vollkorn-Bold.ttf") format("truetype"); }

@font-face { font-family: 'Vollkorn-Italic'; src: url("../font/vollkorn-3-005/TTF/Vollkorn-Italic.ttf") format("truetype"); }

body#frontal { display: flex; justify-content: center; align-items: center; flex-direction: column; height: 100vh; font-family: 'Vollkorn-Regular'; max-height: 100%; overflow: hidden; font-size: 20px; line-height: 1.5; color: #141414; word-wrap: break-word; hyphens: auto; margin-left: 20%; margin-right: 20%; }

body#frontal ol ul { text-align: left !important; }

body#frontal ol ul li { text-align: left !important; }

body#frontal #slides h1, body#frontal #slides h2, body#frontal #slides h3, body#frontal #slides h4 { font-family: 'Vollkorn-Bold'; }

body#frontal #slides a { background-color: #6FC3F6; color: #FFFFFF; }

body#frontal #slides em { font-family: 'Vollkorn-Italic'; }

body#frontal #slides strong { font-family: 'Vollkorn-Bold'; }

body#frontal #slides img { max-width: 80%; display: block; margin: 0 auto; flaot: left; }

body#frontal #slides pre { min-width: 100%; text-align: left; }

body#frontal #slides code { text-align: left; }

body#frontal #slides p { text-align: left; max-width: 50vw; }

body#frontal #slides blockquote { font-family: 'Vollkorn-Italic'; font-size: 1.6rem; }

body#frontal #slides table { margin-left: auto; margin-right: auto; }

body#frontal #slides table thead { font-family: 'Vollkorn-Bold'; }

body#frontal #slides table th { border-bottom: 3px dashed #848484; padding-left: 10px; padding-right: 10px; }

body#frontal #slides table td { border-bottom: 2px dashed #cccccc; padding-left: 10px; padding-right: 10px; }
