@font-face { font-family: 'Vollkorn-Regular'; src: url("../font/vollkorn-3-005/TTF/Vollkorn-Regular.ttf") format("truetype"); }

@font-face { font-family: 'Vollkorn-Bold'; src: url("../font/vollkorn-3-005/TTF/Vollkorn-Bold.ttf") format("truetype"); }

@font-face { font-family: 'Vollkorn-Italic'; src: url("../font/vollkorn-3-005/TTF/Vollkorn-Italic.ttf") format("truetype"); }

@font-face { font-family: 'Vollkorn-SemiItalic'; src: url("../font/vollkorn-3-005/TTF/Vollkorn-SemiboldItalic.ttf") format("truetype"); }

@font-face { font-family: 'CamingoCode-Regular'; src: url("../font/CamingoCode-v1.0/CamingoCode-Regular.ttf") format("truetype"); }

@font-face { font-family: 'CamingoCode-Bold'; src: url("../font/CamingoCode-v1.0/CamingoCode-Bold.ttf") format("truetype"); }

@font-face { font-family: 'CamingoCode-Italic'; src: url("../font/CamingoCode-v1.0/CamingoCode-Italic.ttf") format("truetype"); }

@font-face { font-family: 'CamingoCode-SemiItalic'; src: url("../font/CamingoCode-v1.0/CamingoCode-BoldItalic.ttf") format("truetype"); }

/*

Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>

*/
.hljs { display: block; overflow-x: auto; padding: 0.5em; background: #fdf6e3; }

.hljs-comment, .hljs-quote { color: #93a1a1; }

/* Solarized Green */
/* Solarized Cyan */
.hljs-number, .hljs-string, .hljs-meta .hljs-meta-string, .hljs-literal, .hljs-doctag, .hljs-regexp { color: #2aa198; }

/* Solarized Blue */
/* Solarized Yellow */
/* Solarized Orange */
/* Solarized Red */
.hljs-emphasis { font-style: italic; }

.hljs-strong { font-weight: bold; }

header, footer { font-family: 'Vollkorn-SemiItalic'; color: #7A7A7A; box-sizing: border-box; margin-top: auto; overflow: hidden; position: absolute; font-size: 0.8rem; text-align: right; width: 100%; left: 0; }

header { top: 0; height: 35px; padding-top: 10px; padding-right: 10px; }

footer { bottom: 0; height: 35px; padding-bottom: 10px; padding-right: 10px; }

body#frontal { margin: 0 auto; padding: 0; display: flex; justify-content: center; align-items: center; flex-direction: column; height: 100vh; font-family: 'Vollkorn-Regular'; max-height: 100%; max-width: 50em; overflow: hidden; font-size: 1.3em; line-height: 1.5; color: #465963; word-wrap: break-word; hyphens: auto; background-color: #FFFFFF; }

body#frontal img[alt="left"] { margin-left: 5%; margin-right: 5%; }

body#frontal .wide { margin-left: 5%; margin-right: 5%; padding-left: 5%; width: 100%; }

body#frontal .narrow { margin-left: 20%; margin-right: 20%; }

body#frontal .pwide { max-width: 90vw !important; }

body#frontal #slides { padding-top: 35px; padding-bottom: 35px; }

body#frontal #slides ol, body#frontal #slides ul { text-align: left; max-width: 50vw; }

body#frontal #slides ol li, body#frontal #slides ul li { text-align: left; }

body#frontal #slides h1, body#frontal #slides h2, body#frontal #slides h3, body#frontal #slides h4 { font-family: 'Vollkorn-Bold'; }

body#frontal #slides a { color: #E96368; text-decoration: none; }

body#frontal #slides a:hover { color: #e02027; }

body#frontal #slides em { font-family: 'Vollkorn-Italic'; }

body#frontal #slides strong { font-family: 'Vollkorn-Bold'; }

body#frontal #slides img { max-width: 80%; display: block; margin: 0 auto; }

body#frontal #slides img[alt="left"] { float: left; margin-right: 10px; clear: both; }

body#frontal #slides pre { min-width: 100%; text-align: left; padding: 1em; background: #eee; border-left: 2px solid #A4A4A4; }

body#frontal #slides code { text-align: left; font-family: 'CamingoCode-Regular'; }

body#frontal #slides p { text-align: left; max-width: 50vw; }

body#frontal #slides blockquote { font-family: 'Vollkorn-Italic'; font-size: 1.6rem; }

body#frontal #slides table { margin-left: auto; margin-right: auto; }

body#frontal #slides table thead { font-family: 'Vollkorn-Bold'; }

body#frontal #slides table th { border-bottom: 3px dashed #848484; padding-left: 10px; padding-right: 10px; }

body#frontal #slides table td { border-bottom: 2px dashed #cccccc; padding-left: 10px; padding-right: 10px; }
